{$header}
<body>
	<div class="main">
		<div class="mod-nav">
        	<div class="nav"><a href="index.php"><img width="75" height="75" border="0" src="./templates/images/nav1.jpg"/></a></div>
			<div class="nav"><a href="good.php"><img width="75" height="75" border="0" src="./templates/images/nav2.jpg"/></a></div>
            <div class="nav"><a href="draw.php"><img width="75" height="75" border="0" src="./templates/images/nav3.jpg"/></a></div>
            <div class="nav"><a href="user.php"><img width="75" height="75" border="0" src="./templates/images/nav4.jpg"/></a></div>
        </div>
        <div class="item-allsel">
        	<input id="allTopSel" class="check_all"  type="checkbox">
        	<label for="allTopSel">全选</label>
        </div>
		{foreach from=$list item=good}
         <div class="item-good clearfix">
         	<h3>{$good.goods_name}</h3>
         	<div class="ig-cb"><input data-id="{$good.rec_id}" type="checkbox" class="buy_check" {if $good.now_buy}checked{/if}/></div>
         	<div class="ig-img"><img border="0" src="../../{$good.goods_img}" width="75" height="75"/></div>
         	<a href="goods.php?id={$good.goods_id}">
	         	<div class="ig-msg" style="font-size:16px;width:191px;">
	         		<div class="im-top">{$good.integral}元积分+{$good.goods_price}元话费</div>
	         		<div class="im-bottom">颜色：{$good.goods_attr}</div>
	         	</div>
         	</a>
         	<div class="ig-sm">
				<input class="i-small" type="button" value="─" onclick="mins({$good.rec_id});">
				<input id="v-{$good.rec_id}" data-id="{$good.rec_id}" class="i-middle" type="text" value="{$good.goods_number}">
				<input class="i-small" type="button" value="+" onclick="sums({$good.rec_id});">			
         	</div>
         	<div class="ig-del"><a href="flow.php?step=del&id={$good.rec_id}">删除</a></div>
         	</div>
         
	         {/foreach}
	        <div class="item-allsel">
	        	<input id="allBotSe2" class="check_all" type="checkbox">
	        	<label for="allBotSe2">全选</label>
         	</div>
	         <div class="item-total">选中商品：<font id="buy_num" color="red">{$num}</font>件<span></span>所需积分：<font id="buy_jf" color="red">{$jf}</font>分<span></span>所需话费：<font id="buy_money" color="red">{$money}</font>元</div>          
	         
	         <div class="item-sub"><input type="button" value="去结算>" class="txt4" onclick="location.href='buy.php?act=checkout'"></div>
    </div>
</body>
<script>

	//实现让用户输入数字
	$('.ig-sm > .i-middle').blur(function(){
		var strInput = $(this).val();
		var reg = /^[1-9]\d*$/;
		if(!reg.exec(strInput)) {
			strInput = 1;
		}
		$(this).val(strInput);
		var rec_id = new Array();
		rec_id = $(this).attr('data-id')
		goodup(rec_id,strInput);
	})

	function sums(id){
		var v = parseInt($("#v-"+id).val());
		if(v > 99){
			v = 99;
		}else{
			v = v+1;
		}
		goodup(id,v);
		$("#v-"+id).val(v);
	}
	
	function mins(id){
		var v = parseInt($("#v-"+id).val());
		if(v < 2){
			v = 1;
		}else{
			v = v-1;
		}
		goodup(id,v);
		$("#v-"+id).val(v);		
	}
	
	function goodup(id,v){
		if(id !='' && v !=''){
			$.ajax({
					type: "POST",
					url: "flow.php?step=update",
					data: {id:[id],num:v},
					dataType: 'json', 
					cache: false, 
					error: function(){
						return false; 
					}, 
				   success: function(result){
						if(result.code == 1){
							$('#buy_num').html(result.data.buy_goods_count);
							$('#buy_jf').html(result.data.buy_integral_amount);
							$('#buy_money').html(result.data.buy_goods_amount);
						}else if(result.code == -2){
							alert(result.message);
							$('#v-'+result.data.id).val(result.data.num);
						}
				   }
				});	
		}
	}
	$('.check_all').click(function(){
		var rec_id = new Array();
		if ($(this).attr("checked")) {  
			var buy = 1;
			$('.check_all').attr("checked", true);
		    $(".buy_check").each(function(index){
				$(this).attr("checked", true);
				rec_id[index] = $(this).attr('data-id');
			});    
		}else{  	
			var buy = 0;
			$('.check_all').attr("checked", false);
			$(".buy_check").each(function(index){
		    $(this).attr("checked", false);  
				rec_id[index] = $(this).attr('data-id');
		    });  
		 }
		$.ajax({ 
			type: 'POST', 
			url: 'flow.php?step=update', 
			data: {id:rec_id,buy:buy},
			dataType: 'json', 
			cache: false, 
			error: function(){
				return false; 
			}, 
			success:function(json){ 
				if(json.code){
					$('#buy_num').html(json.data.buy_goods_count);
					$('#buy_jf').html(json.data.buy_integral_amount);
					$('#buy_money').html(json.data.buy_goods_amount);
				}
			//	location.href = 'flow.php';
			} 
		});
    })


	$('.buy_check').click(function(){
		var rec_id = new Array();
		rec_id = $(this).attr('data-id');
		var buy = ($(this).attr('checked')) ? 1 : 0;
		$.ajax({ 
			type: 'POST', 
			url: 'flow.php?step=update', 
			data: {id:rec_id,buy:buy},
			dataType: 'json', 
			cache: false, 
			error: function(){
				return false; 
			}, 
			success:function(json){ 
				if(json.code){
					$('#buy_num').html(json.data.buy_goods_count);
					$('#buy_jf').html(json.data.buy_integral_amount);
					$('#buy_money').html(json.data.buy_goods_amount);
				}
			} 
		});
	})
</script>
</html>